<h4 class="txtw">Crypto Currency lookup
</h4>

<%= form_tag home_lookup_path, method: :POST, class: "navbar-form navbar-left search-form" do %>
<%= text_field_tag( 'search',nil,placeholder: "Enter Crypto Symbol",class: "form-control",:required => true) %>
<%= submit_tag 'Lookup Stock Quote' %>
<% end %>
<br>
<br>

<div class="container">

<% if @symbol %>
  <%for x in @lookup_coin %>
    <% if  x["symbol"] != @symbol %>

      <% elsif @symbol == x["symbol"]%>
        <%= x["name"] %>: $<%= x["price_usd"] %>
        Rank:<%= x["rank"] %>
        <br/>
        <br/>
      <% end %>
    <% end %>
  <% end %>
</div>